:root {
  --c-background-color: #00120B;
  --c-text-color: #D8E4FF;
  --c-primary-color: #35605A;
  --c-secondary-color: #6B818C;
  --c-tertiary-color: #31E981;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--c-background-color);
  color: var(--c-text-color);
}


.button, button {
  background-color: var(--c-secondary-color);
  border: 0.15rem solid var(--c-text-color);
  padding: 0.25rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.row {
  display: flex;
  flex-direction: row;
}